{erl_opts, [debug_info]}.
{deps, [
  {sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
  {cowboy,  {git, "https://github.com/ninenines/cowboy", {tag, "2.4.0"}}}
]}.

{relx, [{release, {storage_system_release, "0.0.1"},
  [storage_system, sasl, runtime_tools]},
  {dev_mode, true},
  {include_erts, false},
  {sys_config, "rel/sys.config"},
  {vm_args, "rel/vm.args"},
  {extended_start_script, true}]}.



{plugins, [rebar3_run]}.