[
  {storage_system, [
    {chunk_size, 4}
  ]},
  {sync, [
    {growl, all},
    {log, all},
    {non_descendants, fix},
    {executable, auto},
    {whitelisted_modules, []},
    {src_dirs, {add, [{"src", [{outdir,"./_build/default/lib/storage_system/ebin "}]}]}},
    {excluded_modules, []}
  ]}
].