[
  {storage_system, [
    {chunk_size, 4},
    {chunk_nodes, [
      'chunk_server_node1@192.168.1.104'
    ]}
  ]},
  {sync, [
    {growl, all},
    {log, all},
    {non_descendants, fix},
    {executable, auto},
    {whitelisted_modules, []},
    {src_dirs, {add, [{"src", [{outdir,"./_build/default/lib/storage_system/ebin "}]}]}},
    {excluded_modules, []}
  ]},
  {mnesia, [{dir, "/tmp/mnesia/chunk_server_node1"}]}
].